.post-header {
  width: 70%;
  height: fit-content;
  background: $dark-color;
  padding: 25px;
  color: $text-color;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.post-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.post-content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  hr {
    width: 100%;
  }
  p {
    color: $grey-color;
    margin: 10px 0 10px 0;
  }
}
.post-card {
  height: auto;
  p {
    margin: 10px;
  }
  h3 {
    margin: 10px;
  }
}
.content-body {
  color: $grey-color;
  padding: 10px 0 10px 0;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .post-header{
    width:100%;
  }
  .post-content{
    width: 100%;
  }
}
