$dark-color: #363535;
$grey-color: #484a4d;
$light-grey: rgb(167, 161, 161);
$text-color: #dadce1;
$blue-color: rgb(108, 148, 233);
$nav-size: 60px;
$border: 1.5px solid rgb(167, 161, 161);
$border-radius: 8px;
$speed: 300ms;
$button-size: $nav-size * 0.5;
